config {
    // Location of your pipeline's main script:
    mainScript = 'main.nf'
    
    // Default profile to use:
    profile = 'standard'
    
    // Max time allowed for entire test to complete:
    maxTimeSeconds = 1800  // 30 minutes
    
    // Location of test data:
    testsDir = 'tests'
}